body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
}
.page {
  width: 1000px;

  margin: 65px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;

}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li a {
  text-decoration: none;
  color: #1F1534;
}
/* Pseudo class */
ul li a:hover {
  font-weight: bold;
}

h1, ul {
  font-family: 'Mulish', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #1F1534;

  font-weight: normal;
  width: 490px;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;

  margin: 40px 0;
}

button {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  background: #69B99D;
  border: none;
  padding: 14px 32px 15px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
}
button:hover {
  background: #4ea488;
}

footer {
  font-size: 14px;
  line-height: 28px;

  text-align: center;
  margin-top: 80px;
}
footer a {
  font-weight: bold;
}